@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    width: 100vw;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    position: relative;
}

.faq-img {
    width: 200px;
    margin-left: 80px;
    margin-top: 20px;
   
}

.container {
    background-color: #fff;
    max-width: 375px;
    border-radius: 20px;
    overflow: hidden;
    height: 600px;
    margin: 100px auto;
    position: relative;
}


.faq-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.question-answer {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
    color: hsl(240, 6%, 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    
}

.question:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}


.answer {
    max-width: 100%;
    margin-left: 4px;
    display: none;
}

.show-text .answer{
    display: block;
}
.show-text .icon-up {
    display: block;
}

.show-text .icon-down {
    display: none;
}

.show-text .question {
    color: #000;
    font-weight: 600;
    
}

.question {
    color: hsl(240, 6%, 50%);
    font-weight: 500;
}



.questions {
    text-align: center;
    color: hsl(240, 6%, 50%);
}

.btn-chev {
    left: 105px;
    position: relative;
    margin-left: 100px;
    bottom: 20px;
    border: none;
    color: hsl(14, 88%, 65%);
    background-color: transparent;
    cursor: pointer;
}
.icon-up {
    display: none;
}

@media (min-width: 820px) {
    .container {
        max-width: 800px;
        height: 500px;
    }
    .faq-title {
        margin-bottom: 60px;
    }
    .faq-img {
        position: relative;
        right: 150px;
        top: 150px;
        z-index: 1;
        width: 300px;
    }
 .answer {
        margin-left: 80px;
        width: 70%;
        color: hsl(240, 6%, 50%);
        
    }

    .main-faq {
        margin-top: -200px;
        margin-left: 100px;
    }
    .faq-title {
        position: relative;
        right: 55px;
    }
    .question-answer{
        width: 60%;
        margin-left: 170px;
}
}
